<footer class="footer footer-class ">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <i class="fab fa-twitter-square fa-2x icon-color"></i>
                </p>
                <p class="control">
                    <i class="fab fa-youtube fa-2x icon-color"></i>
                </p>
                <p class="control">
                    <i class="fab fa-facebook-square fa-2x icon-color"></i>
                </p>
                <p class="control">
                    <i class="fab fa-tumblr fa-2x icon-color"></i>
                </p>
                <p class="control">
                    <i class="fab fa-instagram fa-2x icon-color"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <a class="icon-color"> <strong>© 2019 COPYRIGHT FBR AND TØP </strong> </a>
            <a class="icon-color"> TERMS OF USE |</a>
            <a class="icon-color"> PRIVACY POLICY |</a>
            <a class="icon-color"> AD CHOICES |</a>
            <a class="icon-color"> COOKIE POLICY</a>
        </div>
    </div>
</footer>