<br />
<br />
<div class="background-image">
  <br />
  <section class="container fantasy-letters">
      <div class="columns">
          <div class="column is-one-fifth">
            <div class="container-img">
                <img class="frame-img" id="explotion-frame" src="../../assets/images/explotion-frame.png" alt=""/>
                <div class="centered-text-img ">Usuario</div>
            </div>
          </div>
          <div class="column">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Nombre:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" value="Jose Daniel Oropeza Soria" readonly>
                    <span class="icon is-small is-left">
                      <i class="fas fa-align-justify"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <br />
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Carnet de identidad:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" value="7711450" readonly>
                    <span class="icon is-small is-left">
                        <i class="fas fa-id-card"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <br />
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">E-mail:</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="text" value="dany.orop@gmail.com" readonly>
                      <span class="icon is-small is-left">
                          <i class="fas fa-at"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            <br />
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Contraseña:</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="password" value="12345678" readonly>
                      <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            <br />
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Domicilio:</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="text" value="Calle Tahuantinsuyo #830" readonly>
                      <span class="icon is-small is-left">
                          <i class="fas fa-home"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            <br />
          </div>
        </div>
        <section class="image">
          <img class="is-rounded profile-img" src="https://img.peru21.pe/files/article_content_ec_fotos/uploads/2017/08/17/5995f28029027.jpeg" alt="">
        </section>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-black yellow-letters">
                  Volver
                </button>
                <button class="button is-black yellow-letters">
                  Modificar usuario
                </button>
                <button class="button is-black yellow-letters">
                  Eliminar usuario
                </button>
              </div>
            </div>
          </div>
        </div>
  </section>
</div>