<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://d2cstorage-a.akamaihd.net/atl/option3/MKhsaxsd31RL2r6Pm/SihRQqwHfB7Xih4fKDoK.svg" width="112"
        height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" style=" font-family: fantasy; color: #fce200">
        ALBUMES
      </a>

      <a class="navbar-item" style=" font-family: fantasy; color: #fce200">
        TIENDA
      </a>

      <a class="navbar-item" style="font-family: fantasy; color: #fce200">
        CONCIERTOS
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!isLoggedIn()" id="sign-up-but" class="button is-light">
            REGISTRARSE
          </a>

          <a *ngIf="!isLoggedIn()" routerLink="/login" id="log-in-but" class="button is-light">
            INICIAR SESION
          </a>

          <button *ngIf="isLoggedIn()" (click)="logout()" id="log-out-but" class="button is-light">
            CERRAR SESION
          </button>

        </div>
      </div>
    </div>
  </div>
</nav>