<br />
<br />
<div class="background-image">
  <br />
  <section class="hero is-fullheight container fantasy-letters">
    <div class="columns">
      <div class="hero-header">
        <div class="container-img">
          <img class="frame-img" id="explotion-frame" src="../../assets/images/explotion-frame.png" alt="" />
          <div class="centered-text-img ">LISTA DE USUARIOS</div>
        </div>
      </div>
      <div class="hero-body">
        <table class="table">
          <thead>
            <tr>
              <th>CI</th>
              <th>Nombre</th>
              <th>E-mail</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList">
              <td>{{user.identityCard}}</td>
              <td><a (click)="viewUser(user._id)">{{user.name}}</a>
              </td>
              <td>{{user.eMail}}</td>
              <td><button class="button is-info" (click)="viewUser(user._id)">
                  Ver </button></td>
              <td><button class="button is-warning" (click)="updateUser(user._id)">
                  Editar </button></td>
              <td><button class="button is-danger" (click)="deleteUser(user._id)">
                  Eliminar </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>
</div>