<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class=" card is-rounded">
          <div class="card-content">
            <h1 class="title font" style="color: black">
              INICIAR SESIÓN
            </h1>
            <div class="field">
              <label class="label font">Correo electrónico</label>
              <div class="control has-icons-left has-icons-right">
                <input [(ngModel)]="email" [ngClass]="{'input': true, 'is-danger': emailInvalid}" type="email" placeholder="Correo electrónico">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span *ngIf="emailInvalid" class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p *ngIf="emailInvalid" class="help is-danger">Email incorrecto</p>
            </div>
            <div class="field">
              <label class="label font">Contraseña</label>
              <div class="control has-icons-left has-icons-right">
                <input [(ngModel)]="password" [ngClass]="{'input': true, 'is-danger': passwordInvalid}" type="password" placeholder="Contraseña">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span *ngIf="passwordInvalid" class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p *ngIf="passwordInvalid" class="help is-danger">Contraseña incorrecta</p>
            </div>
            <div class="control">
              <button (click)="login()" class="button is-dark is-fullwidth font">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Iniciar sesión</span>
              </button>
            </div>
            <div class="control">
              <button class="button is-link is-fullwidth font" (click)="loginWithFacebook();">
                <span class="icon">
                  <i class="fab fa-facebook-f"></i>
                </span>
                <span>Entrar con Facebook</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div>
</div>