.background-image {
    background: black url('../../assets/images/fans-background-createuserview.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: 100% 100%; */
}

.container-reduced {
    width: 50%
}

.input:hover, .textarea:hover, .input:focus, .textarea:focus {
    border-color: #fce200;
}

input[type="date"], input[type="time"] {
    width: 250px;
}

input[type=date]::-webkit-inner-spin-button {
    color: #fce200;
}

label {
    /* color: #fce200; */
    color: #c3b751;
}

.fantasy-letters, input, button, a, textarea {
    font-family: fantasy;
    color: #fce200;
}

::-webkit-input-placeholder {
    color: #F7F3B2;
}

.yellow-letters {
    color: #fce200;
}

input, .dollar-icon-border {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    opacity: 0.8;
}

textarea {
    border-color: black;
    border-style: dashed;
    border-width: 2px;
    background-color: black;
    opacity: 0.8;
}

.container-img {
    position: relative;
    text-align: center;
}

.frame-img {
    opacity: 1;
}

.centered-text-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 150%;
}