#body-album{
    /* background-color: red;  */
    background: #fce200;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #799F0C, #fce200);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #799F0C, #fce200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    width: 100%;
    height: 100%;
}

.ul,li{
    /* margin: 2px;
    border: 5px; */
    padding: 10px;
}

li:hover{
    background-color: #fce200;
    border-radius: 5px;
}

.footer-back{
    background-color: #fce200;

}

.fadeIn {
    animation-name: fadeIn;
}


