<br>
<br>
<div class="fondo">
  <section class="hero is-dark yellow-background font">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" style="color: black">
          AGREGAR PRODUCTO
        </h1>
      </div>
    </div>
  </section>
  <br>
  <div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="field is-horizontal">
        <div class="field-label is-normal font">
          <label class="label">
            <span class="tag is-warning is-radiusless is-medium">Nombre producto</span>
          </label>
        </div>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Nombre producto">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal font">
          <label class="label">
            <span class="tag is-warning is-radiusless is-medium">Precio</span>
          </label>
        </div>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input class="input" type="number" placeholder="Precio">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal font">
          <label class="label">
            <span class="tag is-warning is-radiusless is-medium">Unidades disponibles</span>
          </label>
        </div>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input class="input" type="number" placeholder="Unidades disponibles">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal font">
          <label class="label">
            <span class="tag is-warning is-radiusless is-medium">URL imagen</span>
          </label>
        </div>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="URL imagen">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal font">
          <label class="label">
            <span class="tag is-warning is-radiusless is-medium">Descripcion</span>
          </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="Descripcion del item"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered font">
        <p class="control">
          <a class="button is-warning">
            AGREGAR
          </a>
        </p>
        <p class="control">
          <a class="button is-warning is-inverted">
            CANCELAR
          </a>
        </p>
      </div>

    </div>
  </div>
  <br><br><br><br><br><br><br><br>
</div>
