.fondo {
    background: black url('../../assets/images/fondo.jpg');
}

.yellow-background {
    background: black url('../../assets/images/fondo-amarillo-rectangular.jpg');
}

.font {
    font-family: fantasy;
}