<div class="fondo">
  <br />
  <section class="hero is-dark yellow-background font">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="color: black">
          AGREGAR PRODUCTO
        </h1>
      </div>
    </div>
  </section>

  <div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="field">
        <label class="label">
          <span class="tag is-warning is-radiusless is-medium">Nombre producto</span>
        </label>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input [(ngModel)]="merch.name" class="input" type="text" placeholder="Nombre producto">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          <span class="tag is-warning is-radiusless is-medium">Precio</span>
        </label>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input [(ngModel)]="merch.price" class="input" type="number" placeholder="Precio">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          <span class="tag is-warning is-radiusless is-medium">Unidades disponibles</span>
        </label>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input [(ngModel)]="merch.availableUnits" class="input" type="number" placeholder="Unidades disponibles">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          <span class="tag is-warning is-radiusless is-medium">URL imagen</span>
        </label>
        <div class="field-body font">
          <div class="field">
            <div class="control">
              <input [(ngModel)]="merch.imageUrl" class="input" type="text" placeholder="URL imagen">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          <span class="tag is-warning is-radiusless is-medium">Descripcion</span>
        </label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea [(ngModel)]="merch.description" class="textarea" placeholder="Descripcion del item"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered font">
        <div class="control">
          <button (click)="addMerch()" class="button is-warning">
            AGREGAR
          </button>
        </div>
        <div class="control">
          <button (click)="goBack()" class="button is-warning is-inverted">
            CANCELAR
          </button>
        </div>
      </div>

    </div>
  </div>
</div>