<br>
<br>
<div class="fondo">
  <section class="hero is-dark font">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" style="color: #fce200">
          TIENDA
        </h1>
        <button class="button is-warning font" (click)="add()">Agregar producto</button>
      </div>
    </div>
  </section>
    <br>
    <div class="container">

    
      <div class="columns is-gapless is-multiline">
        <div *ngFor="let item of merchList" class="column is-half">

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="{{item.imageUrl}}" alt="Image">
                </figure>
              </div>
              <div class="media-content font">
                <div class="content">
                  <p class="is-size-5">
                    <strong class="is-size-3 is-uppercase">{{item.name}}</strong>
                    <br>
                    {{item.price}}$
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <button (click)="viewDetails(item._id)" class="button is-dark font-yellow">
                      <span class="icon">
                        <i class="fas fa-info-circle"></i>
                      </span>
                      <span>VER DETALLES</span>
                    </button>
                    <button (click)="edit(item._id)" class="button is-dark font-yellow">
                      <span class="icon">
                        <i class="fas fa-dollar-sign"></i>
                      </span>
                      <span>EDITAR</span>
                    </button>
                    <button (click)="delete(item._id)" class="button is-dark font-yellow">
                      <span class="icon">
                        <i class="fas fa-dollar-sign"></i>
                      </span>
                      <span>ELIMINAR</span>
                    </button>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

