<br>
<br>
<div class="fondo">
  <section class="hero is-dark font">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" style="color: #fce200">
          TIENDA
        </h1>
      </div>
    </div>
  </section>


  <div class="columns is-gapless is-multiline">
    <div class="column is-half">

      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="https://pbs.twimg.com/profile_images/905183271046193153/q_P1KBUJ_400x400.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content font">
            <div class="content">
              <p class="is-size-5">
                <strong class="is-size-3">POLERA</strong>
                <br>
                50$
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <button (click)="login()" class="button is-dark font-yellow">
                  <span class="icon">
                    <i class="fas fa-dollar-sign"></i>
                  </span>
                  <span>COMPRAR</span>
                </button>
                <button (click)="login()" class="button is-dark font-yellow">
                  <span class="icon">
                    <i class="fas fa-info-circle"></i>
                  </span>
                  <span>VER DETALLES</span>
                </button>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

  </div>
</div>