<section class="hero new-album is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="../../assets/images/logo.png">
      <h1 class="title font">
        NUEVO ALBUM!
      </h1>
      <img src="https://d2cstorage-a.akamaihd.net/atl/option3/MKhsaxsd31RL2r6Pm/UlANwvUhjMjnA6kFjxKO.svg">
    </div>
  </div>

  <div class="container has-text-centered">
    <div class="columns is-fullhd">
      <div class="column is-half">
        <section class="hero is-medium new-album">
          <div class="hero-body">
            <button routerLink="/albums" class="button is-black is-large font"> VER TODOS LOS ALBUMES</button>
          </div>
        </section>
      </div>

      <div class="column is-half">
        <section class="hero is-medium album-cover">
          <div class="hero-body">
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container has-text-centered">
    <div class="columns is-fullhd">
      <div class="column is-half">
        <section class="hero is-large store-cover">
          <div class="hero-body">
          </div>
        </section>
      </div>

      <div class="column is-half">
        <section class="hero is-large new-album">
          <div class="hero-body">
            <button routerLink="/merch" class="button is-black is-large font"> IR A LA TIENDA DE MERCANCIA</button>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-half">
        <section class="hero is-medium new-album">
          <div class="hero-body">
            <button routerLink="/concerts" class="button is-black is-large font"> PROXIMOS CONCIERTOS</button>
          </div>
        </section>
      </div>

      <div class="column is-half">
        <section class="hero is-medium concerts-cover">
          <div class="hero-body">
          </div>
        </section>
      </div>
    </div>
  </div>
</section>