.new-album {
    background: black url('../../assets/images/fondo-amarillo-rectangular.jpg');
    max-width:100%;
    height:auto;
}

.album-cover {
    padding: 10px;
    max-width:100%;
    height:auto;
}

.store-cover {
    max-width:100%;
    height:auto;
    padding: 10px;

}

.concerts-cover {
    max-width:100%;
    height:auto;
    padding: 10px;
}

.font {
    font-family: fantasy;
}