.new-album {
    /* background: white url('../../assets/images/trench-cover.jpg')center / cover; */
    background: black url('../../assets/images/fondo-amarillo-rectangular.jpg');
    /* background-size: 100%; */
    max-width:100%;
    height:auto;
}

.album-cover {
    background: black url('../../assets/images/trench-cover-mq.jpg');
    

}

.store-cover {
    background: black url('../../assets/images/merch-mq.jpg');
    /* background-size: 100%; */
    max-width:100%;
    height:auto;

}

.concerts-cover {
    background: black url('../../assets/images/concierto.jpg');
    /* background-size: 100%; */
    max-width:100%;
    height:auto;
}

.font {
    font-family: fantasy;
}