<section class="hero new-album is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="../../assets/images/logo.png">
      <h1 class="title font">
        NUEVO ALBUM!
      </h1>
      <img src="https://d2cstorage-a.akamaihd.net/atl/option3/MKhsaxsd31RL2r6Pm/UlANwvUhjMjnA6kFjxKO.svg">
    </div>
  </div>
</section>

<section class="hero new-album is-medium">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-half is-vcentered">
        <div class="hero-body field is-grouped is-grouped-centered">
          <button routerLink="/albums" class="button is-black is-large font"> VER ALBUMES</button>
        </div>
      </div>
      <div class="column is-half">
        <figure class="image is-5by4">
          <img src="../../assets/images/trench-cover-mq.jpg" width=100% height=100%>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="hero new-album is-large">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-half is-vcentered">
        <figure class="image">
          <img src="../../assets/images/merch-mq.jpg" width=100% height=100%>
        </figure>
      </div>
      <div class="column is-half">
        <div class="hero-body field is-grouped is-grouped-centered">
          <button routerLink="/merch" class="button is-black is-large font"> IR A LA TIENDA</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero new-album is-medium">
  <div class="container is-fluid ">
    <div class="columns">
      <div class="column is-half">
        <div class="hero-body field is-grouped is-grouped-centered">
          <button routerLink="/concerts" class="button is-black is-large font"> PROXIMOS CONCIERTOS</button>
        </div>
      </div>
      <div class="column is-half">
        <figure class="image is-5by4">
          <img class="concerts-cover" src="../../assets/images/concierto.jpg" width=100% height=100%>
        </figure>
      </div>
    </div>
  </div>
</section>