<br />
<br />
<div class="background-image">
  <br />
  <section class="container fantasy-letters">
    <div class="columns is-mobile">
      <div class="column is-half is-offset-one-quarter">
        <div class="container-img">
          <img class="frame-img" id="explotion-frame" src="../../assets/images/explotion-frame.png" alt=""/>
          <div class="centered-text-img ">Lista de conciertos</div>
        </div>
      </div>
    </div>
    <section *ngFor="let concert of concertsList" class="hero is-bold jumbotron">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth">
              <section class="image">
                <img src={{concert.concertPicture}} alt="">
              </section>
            </div>
            <div class="column">
              <h1 class="title">
                {{concert.title}}
              </h1>
              <h2 class="subtitle">
                <p>Ciudad: <span>{{concert.city}}</span></p>
                <p>Fecha: <span>{{concert.date}}</span></p>
                <button class="button is-black yellow-letters" (click)="viewConcert(concert._id)">Ver mas</button>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
  </section>
</div>